@import "../../node_modules/material-ui-sass/material-ui";
@import "../../node_modules/material-ui-sass/material-ui/_html";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);

//Your custom app styles
.main-page {
}

.page-content {
    padding: 20px 80px;
}

.mui-checkbox {
  display: inline-block;
}

.checkbox-label {
  padding: 10px;
}
